@use 'fonts';

.my-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 100%;
    color: greenyellow;
    background-color: black;
    border: 5px solid greenyellow;

    font-family: 'Bungee Hairline', cursive;
    font-size: 12px;
    letter-spacing: 0.1px;
    font-weight: bolder;

    h5 {
        font-weight: bolder;
    }
}